<div class="container">
  <div class="row">
    <div class="col-md-12 p-3 bg-secondary-theme shadow-effect rounded-2">
      <h3 class="text-center text-theme-primary">New Categories</h3>
      <p class="text-center mb-5">You can add new categories from here... !</p>

      <form
        class="d-flex text-center justify-content-center gap-2"
        #categoryForm="ngForm"
        (ngSubmit)="onSubmit(categoryForm)"
      >
        <div class="form-group col-md-7">
          <input
            name="category"
            type="text"
            class="form-control shadow-effect"
            placeholder="Add new Category"
            #newCategory="ngModel"
            ngModel
            required
            [ngClass]="{
              'is-invalid': newCategory.touched && newCategory.invalid
            }"
          />
          <div
            class="alert alert-danger p-1 mt-2"
            *ngIf="newCategory.touched && newCategory.invalid"
          >
            Category field is required
          </div>
        </div>

        <div class="col-md-2">
          <button
            class="btn btn-block btn-info mb-2"
            [disabled]="categoryForm.invalid"
          >
            Add Category
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mx-auto">
      <div class="card shadow-effect p-3">
        <table class="row-border hover">
          <thead>
            <tr>
              <th>Number</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categoryArray; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ category.data.category.category }}</td>
              <td>{{ category.id }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
