<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4>Leave a Comment</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
      voluptate?
    </p>

    <form>
      <div class="form-group">
        <label for="" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Name here"
        />
      </div>

      <div class="form-group">
        <label for="" class="form-label">Comment</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control"
          placeholder="Add a comment"
        ></textarea>
      </div>

      <button class="btn-info btn mt-3">Add a Comment !</button>
    </form>
  </div>
</div>
