<section class="mt-5">
  <div class="container my-4 p-3 bg-theme rounded-2">
    <h1 class="text-white text-center">Terms & Condition</h1>
    <div class="p-3 mt 4 bg-secondary-theme">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
        ut veritatis harum molestiae ipsam, illo repellendus quaerat officiis
        eaque ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugiat veniam sunt pariatur aut vitae.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
        ut veritatis harum molestiae ipsam, illo repellendus quaerat officiis
        eaque ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugiat veniam sunt pariatur aut vitae.
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4">Back to Homepage</button>
      </div>
    </div>
  </div>
</section>
