<div class="container" *ngIf="status">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="{{ postData.postImgPath }}"
          class="card-img-top img-fluid"
          alt=""
        />
        <div class="card-body">
          <small class="bg-light text-center text-danger">
            {{ postData.category.category }}
          </small>
          <small class="bg-light text-success text-center ms-2">Featured</small>
          <small class="bg-light text-info text-center ms-2">Views - 100</small>
          <small class="bg-light text-warning text-center ms-2"
            >Last Updateed {{ postData.createdAt.toMillis() | date }}
          </small>

          <h1 class="my-2">{{ postData.title }}</h1>
          <p [innerHTML]="postData.content"></p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>

    <ng-container *ngIf="postsArray.length > 0">
      <div class="col-md-3" *ngFor="let post of postsArray.slice(0, 4)">
        <app-post-card [postInput]="post"></app-post-card>
      </div>
    </ng-container>
  </div>
</div>
