@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

//? Colors
$primary-color: #026467;
$secondary-color: #e5f5ea;
$text-body-color: #596392;
$navbar-footer-color: #f9f9f9;

//? Font
$main-font: "Dosis", sans-serif;
