/* You can add global styles to this file, and also import other style files */

@use "src/variables" as variables;

* {
  font-family: variables.$main-font;
  color: variables.$text-body-color;
  font-size: 12px;
}

p {
  color: variables.$primary-color;
  font-weight: bolder;
  font-size: 2rem;
}
