/* You can add global styles to this file, and also import other style files */

@use "src/variables" as variables;

* {
  font-family: variables.$main-font;
  color: variables.$text-body-color;
  font-size: 12px;
}

.site-logo {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: variables.$secondary-color;
  color: variables.$primary-color;
}
.nav-link {
  color: variables.$primary-color;
}

.shadow-effect {
  border: none;
  box-shadow: 0 0 33px -10px rgb(71, 114, 254, 0.3);
}
