<a
  class="card m-1 shadow-effect h-100"
  *ngIf="status"
  [routerLink]="['/post', postInput.id]"
>
  <img src="{{ postInput.data.postImgPath }}" class="card-img-top" alt="" />

  <div class="card-body">
    <small class="bg-light text-danger text-center">{{
      postInput.data.category.category
    }}</small>
    <small
      class="bg-light text-success text-center ms-3"
      *ngIf="postInput.data.isFeatured"
      >Featured</small
    >
    <small class="bg-light text-info text-center ms-3">{{
      postInput.data.views
    }}</small>

    <h5 class="mt-1">{{ postInput.data.title }}</h5>
    <p>
      {{ postInput.data.excerpt.slice(0, 20) + "..." }}
    </p>

    <small class="bg-light text-warning text-center ml-3"
      >Last update {{ postInput.data.createdAt.toMillis() | date }}</small
    >
  </div>
</a>
